body {
    font-family: 'Comfortaa', cursive;
}

#navbar {
    background-color: rgb(0, 117, 117);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontal {
    float: left;
}

.horizontal .hlink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal .hlink:hover {
    background-color: rgb(0, 61, 61);
}

.desplegable {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.vertical .vlink {
    color: black;
}

.horizontal:hover .desplegable {
    display: block;
}